.card {
  margin: 0 auto;
  float: none;
}
.weather-now {
  color: #94dbe6;
  font-size: 144px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.card-title {
  font-size: 50px;
  color: #94dbe6;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.col-2 {
  text-align: center;
}
.weather-text {
  color: #9297a3;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.main-icon {
  display: block;
  margin: 0 auto;
  margin-left: -120px;
}
.search {
  color: whitesmoke;
  background: #75c9d6;
  font-family: "Montserrat", sans-serif;
}
.search:hover {
  color: #ffff;
  background: #a5dce4;
  transition: all ease-in-out 200ms;
}

.forecast-temp {
  color: #9297a3;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

li {
  color: #9297a3;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  list-style: none;
  margin-left: 80px;
}

.forecast-day {
  color: #62c2d0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.forecast-min {
  opacity: 0.6;
}
.time {
  margin-top: 30px;
  margin-left: 105px;
  color: #9297a3;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.location {
  color: #75c9d6;
  border-color: #75c9d6;
}

.location:hover {
  color: #6fcad8;
  border-color: #90deea;
  background-color: #d6edf0;
  transition: all ease-in-out 200ms;
}

.git-link {
  margin-left: 480px;
  font-family: "Montserrat", sans-serif;
}
.link {
  color: #219db1;
  text-decoration: none;
}
.link:hover {
  color: #058599;
  text-decoration: none;
}
.degrees {
  font-size: 50px;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto%3B background: rgb(241  242  243)%3B display: block%3B z-index: 1%3B position: relative%3B shape-rendering: auto%3B' width='2048' height='1034' preserveAspectRatio='xMidYMid' viewBox='0 0 2048 1034'%3E%3Cg transform='translate(1024 517) scale(1 1) translate(-1024 -517)'%3E%3ClinearGradient id='lg-0.6242374195847717' x1='0' x2='1' y1='0' y2='0'%3E%3Cstop stop-color='%23e5bbdb' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23b5e7ef' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cpath d='' fill='url(%23lg-0.6242374195847717)' opacity='0.4'%3E%3Canimate attributeName='d' dur='16.666666666666664s' repeatCount='indefinite' keyTimes='0%3B0.333%3B0.667%3B1' calcMode='spline' keySplines='0.5 0 0.5 1%3B0.5 0 0.5 1%3B0.5 0 0.5 1' begin='0s' values='M0 0L 0 901.488439747659Q 204.8 886.6543860370185 409.6 858.0548183718765T 819.2 718.4731552077869T 1228.8 667.26322363403T 1638.4 655.9317633970453T 2048 507.86205096177054L 2048 0 Z%3BM0 0L 0 895.0361703091036Q 204.8 822.9069463075039 409.6 777.0762714061939T 819.2 755.2037768804842T 1228.8 630.9628462403721T 1638.4 656.1759945948735T 2048 452.065199672224L 2048 0 Z%3BM0 0L 0 852.0520860331422Q 204.8 839.0941851588523 409.6 816.5574443630634T 819.2 763.4612488711944T 1228.8 674.8462044538969T 1638.4 461.4390632471649T 2048 382.1679551167972L 2048 0 Z%3BM0 0L 0 901.488439747659Q 204.8 886.6543860370185 409.6 858.0548183718765T 819.2 718.4731552077869T 1228.8 667.26322363403T 1638.4 655.9317633970453T 2048 507.86205096177054L 2048 0 Z'%3E%3C/animate%3E%3C/path%3E%3Cpath d='' fill='url(%23lg-0.6242374195847717)' opacity='0.4'%3E%3Canimate attributeName='d' dur='16.666666666666664s' repeatCount='indefinite' keyTimes='0%3B0.333%3B0.667%3B1' calcMode='spline' keySplines='0.5 0 0.5 1%3B0.5 0 0.5 1%3B0.5 0 0.5 1' begin='-3.333333333333333s' values='M0 0L 0 943.2115078390208Q 204.8 966.4617142356329 409.6 925.182404369764T 819.2 828.867418511482T 1228.8 598.7218130108206T 1638.4 595.1712748231141T 2048 545.6194911476139L 2048 0 Z%3BM0 0L 0 973.3758393802805Q 204.8 908.6888103109508 409.6 875.1729118633122T 819.2 656.2778437593149T 1228.8 681.3102249508793T 1638.4 476.16144877741556T 2048 481.36334466870517L 2048 0 Z%3BM0 0L 0 1003.7692916431271Q 204.8 884.4083357091675 409.6 864.6713549142925T 819.2 783.9496918786949T 1228.8 632.6674793534528T 1638.4 480.39513000238946T 2048 369.73452634659975L 2048 0 Z%3BM0 0L 0 943.2115078390208Q 204.8 966.4617142356329 409.6 925.182404369764T 819.2 828.867418511482T 1228.8 598.7218130108206T 1638.4 595.1712748231141T 2048 545.6194911476139L 2048 0 Z'%3E%3C/animate%3E%3C/path%3E%3Cpath d='' fill='url(%23lg-0.6242374195847717)' opacity='0.4'%3E%3Canimate attributeName='d' dur='16.666666666666664s' repeatCount='indefinite' keyTimes='0%3B0.333%3B0.667%3B1' calcMode='spline' keySplines='0.5 0 0.5 1%3B0.5 0 0.5 1%3B0.5 0 0.5 1' begin='-6.666666666666666s' values='M0 0L 0 949.5433551816104Q 204.8 791.767191133282 409.6 755.7432810368109T 819.2 737.3849076180097T 1228.8 706.0216968380064T 1638.4 506.0000866958505T 2048 469.2983797382411L 2048 0 Z%3BM0 0L 0 901.5587238481486Q 204.8 811.3472651461863 409.6 793.669194212613T 819.2 738.795094134563T 1228.8 684.4277765176291T 1638.4 490.6436738765799T 2048 353.21380140934787L 2048 0 Z%3BM0 0L 0 987.5308088291929Q 204.8 961.2010512271338 409.6 929.099510946391T 819.2 820.88150903578T 1228.8 669.6450404642359T 1638.4 529.2485076630937T 2048 389.6760033304099L 2048 0 Z%3BM0 0L 0 949.5433551816104Q 204.8 791.767191133282 409.6 755.7432810368109T 819.2 737.3849076180097T 1228.8 706.0216968380064T 1638.4 506.0000866958505T 2048 469.2983797382411L 2048 0 Z'%3E%3C/animate%3E%3C/path%3E%3Cpath d='' fill='url(%23lg-0.6242374195847717)' opacity='0.4'%3E%3Canimate attributeName='d' dur='16.666666666666664s' repeatCount='indefinite' keyTimes='0%3B0.333%3B0.667%3B1' calcMode='spline' keySplines='0.5 0 0.5 1%3B0.5 0 0.5 1%3B0.5 0 0.5 1' begin='-9.999999999999998s' values='M0 0L 0 922.9294730622012Q 204.8 820.8856084028555 409.6 767.8077108163586T 819.2 683.8010590179395T 1228.8 548.7555806297682T 1638.4 566.9537452564107T 2048 343.0806751600609L 2048 0 Z%3BM0 0L 0 947.7577295923078Q 204.8 937.3469422810584 409.6 902.2937317738878T 819.2 774.6620732268992T 1228.8 685.7194690059763T 1638.4 544.0547838848906T 2048 467.5657031819218L 2048 0 Z%3BM0 0L 0 1017.7792802361396Q 204.8 807.322139867044 409.6 774.1854467952461T 819.2 828.7816422793097T 1228.8 744.2059566099571T 1638.4 590.6494221309147T 2048 448.74092782910503L 2048 0 Z%3BM0 0L 0 922.9294730622012Q 204.8 820.8856084028555 409.6 767.8077108163586T 819.2 683.8010590179395T 1228.8 548.7555806297682T 1638.4 566.9537452564107T 2048 343.0806751600609L 2048 0 Z'%3E%3C/animate%3E%3C/path%3E%3Cpath d='' fill='url(%23lg-0.6242374195847717)' opacity='0.4'%3E%3Canimate attributeName='d' dur='16.666666666666664s' repeatCount='indefinite' keyTimes='0%3B0.333%3B0.667%3B1' calcMode='spline' keySplines='0.5 0 0.5 1%3B0.5 0 0.5 1%3B0.5 0 0.5 1' begin='-13.333333333333332s' values='M0 0L 0 922.0148462493227Q 204.8 861.9290030597513 409.6 817.3521053846983T 819.2 801.506488422138T 1228.8 664.6240970550575T 1638.4 572.3079099893075T 2048 402.18707153906416L 2048 0 Z%3BM0 0L 0 916.8226698057255Q 204.8 863.6902762593586 409.6 816.73921595479T 819.2 785.7116550064349T 1228.8 621.5355994388741T 1638.4 558.9522323365968T 2048 319.95839962525815L 2048 0 Z%3BM0 0L 0 951.3281929176575Q 204.8 831.7320197983241 409.6 805.6564661926085T 819.2 796.074079284269T 1228.8 590.6252010704651T 1638.4 538.1584426929523T 2048 388.4942903095485L 2048 0 Z%3BM0 0L 0 922.0148462493227Q 204.8 861.9290030597513 409.6 817.3521053846983T 819.2 801.506488422138T 1228.8 664.6240970550575T 1638.4 572.3079099893075T 2048 402.18707153906416L 2048 0 Z'%3E%3C/animate%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
